bin/Debug/
AutoFullPrice/bin
/packages
/Unk.Biz/bin/Debug
/Unk.WebApi/obj/Debug
/WebAdmin/obj/Debug
/Unk.WebApi/obj/Release
/WebAdmin/obj/Release
/Unk.Biz/bin/Release
/.vs
/AutoFullPrice/obj
/Unk.Biz/obj
/Unk.Core/bin
/Unk.Core/obj
/Unk.WebApi/bin
/WebAdmin/bin
